/*
 Theme Name:   Spacious Child
 Theme URI:    http://druginfo.onucs.org
 Description:  Spacious Child Theme
 Author:       Jason Duffey
 Template:     spacious
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url("../spacious/style.css");

table.tablesorter {
	/*font-size: 12px;
	/*background-color: #4D4D4D;*/
	width: 1024px;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #FFF;/*#6E6E6E;---------------------------*/
	color: #0FBE7C;
}
/*table.tablesorter td {
	color: #000;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}*/
table.tablesorter .header {
	background-image: none;
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}



/*
 * Drug Info Form CSS
 * Author: Austin M. Rademacher
 * Date: 2015Mar21
 */

.drugInfoForm{
}

.textBox{
    width: 350px;
}

.dateTime {
    max-width: 190px;
}

.labelClass {
    font-weight: bold;
    font-size: 15pt;
}
/*
 * Bolds the other label in the Requester Info Area.
 */

.otherLabel {
    font-weight: bold;
}
/*
 * Text Area Css, that sets the size of TA.
 */

.textArea {
    height: 10em;
    /* rows */
    
    width: 50em;
    /* cols */
    
    margin-bottom: 10px;
}
/*
 * CSS For Small Text Area, this makes the box smaller so it might not have as much info.
 */

.smallTextArea {
    height: 5em;
    width: 25em;
    margin-bottom: 10px;
}

.oneLine {
    margin-bottom: 7px;
    margin-top: 7px;
    width: 400px;

}

.textAreaIn {
    margin-bottom: 1px;
}
/*
 * Requester Info CSS.
 */

#requestCat {
    display: inline-block;
    margin: auto;
    margin-right: 50px;
    vertical-align: top;
}

#requesterCat {
    display: inline-block;
    vertical-align: top;
    margin: auto;
}

.button {
    margin: auto;
    font-size: 16pt;
    font-weight: bold;
    width: 200px;
    height: 60px;
}

.inline{
    display: inline-block;
    margin: auto;
    margin-right: 50px;
    vertical-align: top;
}
